@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');



#containerSignUp {
    background-color: rgb(105, 105, 107);
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -200px;
    padding: 10px;
}

#containerSignUp .SignUpBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    color: #f7f6f6;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.loading {
    position: absolute;
    top: 45%;
    left: 50%;
}

.SignUpBox .buttons {
    width: 100%;
    display: flex;
   justify-content: space-between;
   padding: 13px;
   box-sizing: border-box;
}

span {
    color:rgb(250, 250, 250);
    font-weight: 1000;
}
 span:hover {
    color: rgb(0, 247, 255);
 }