/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

#containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    color: #0e0e0e;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    width: 300px;
    height: 250px;
}
 */
