#container {
    background-color: #fff;
    display: flex;
    height: 400px;
    width: 300px;
    justify-content: center;
}

.loginBox {
    background-color: rgb(235, 200, 200);
    color: #444;
    border-radius: 5px;
}

.loginHeader {
    justify-content: center;

}